{{ define "auth/login.tmpl" }}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Login | Goravel Starterpack</title>
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- Favicon -->
    <link rel="icon" href="assets/logo.avif" type="image/webp">

    <!-- Main Theme Js -->
    <script src="assets/shaka/js/authentication-main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="assets/shaka/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="assets/shaka/css/styles.min.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="assets/shaka/css/icons.min.css" rel="stylesheet">

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

</head>

<body>

    <div class="error-page">
        <div class="container ">
            <div class=" row justify-content-center align-items-center authentication authentication-basic h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                    <div class="card custom-card mt-4">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-center mb-3">
                                <a href="javascript:;">
                                    <img src="assets/logo.avif" alt="logo" width="100">
                                </a>
                            </div>
                            <p class="h5 fw-semibold mb-2 text-center">Goravel</p>
                            <p class="mb-4 text-muted op-7 fw-normal text-center">Starter Pack</p>
                            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="_token" value="{{.csrf_token}}">
                                <div class="row gy-3">
                                    {{if .error}}
                                    <div class="alert alert-danger" role="alert">
                                        {{.error}}
                                    </div>
                                    {{end}}
                                    <div class="col-xl-12">
                                        <label for="signin-email" class="form-label text-default">Email</label>
                                        <input type="email" class="form-control form-control-lg" id="signin-email" placeholder="Email" name="email">
                                    </div>
                                    <div class="col-xl-12 mb-2">
                                        <label for="signin-password" class="form-label text-default d-block">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control form-control-lg" id="signin-password" placeholder="password" name="password">
                                            <button class="btn btn-light" type="button" onclick="createpassword('signin-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                        </div>
                                        <div class="mt-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="remember">
                                                <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                                    Selalu Ingat Saya ?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <div class="cf-turnstile" 
                                            data-sitekey="{{.turnstile_site_key}}" 
                                            data-theme="light"
                                            data-callback="onTurnstileSuccess"></div>
                                    </div>
                                    <div class="col-xl-12 d-grid mt-2">
                                        <button id="btnLogin" type="submit" class="btn btn-lg btn-primary" disabled><i class="ri-login-box-line"></i> Masuk</button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center my-3 authentication-barrier">
                                <span>Atau Login dengan </span>
                            </div>
                            <div class="btn-list text-center">
                                <button class="btn btn-icon btn-light">
                                    <i class="ri-whatsapp-line fw-bold text-success op-7"></i>
                                </button>
                                <button class="btn btn-icon btn-light">
                                    <i class="ri-google-line fw-bold text-primary op-7"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Bootstrap JS -->
    <script src="assets/shaka/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Show Password JS -->
    <script src="assets/shaka/js/show-password.js"></script>

    <script>
        function onTurnstileSuccess(token) {
            // Pilih tombol berdasarkan ID-nya
            const submitButton = document.getElementById('btnLogin');
            
            // Aktifkan tombol dengan menghapus atribut 'disabled'
            submitButton.disabled = false;
        }
    </script>

</body>

</html>
{{ end }}