{{define "dashboard.tmpl"}}
    <!-- Page Header -->
    {{ template "layout/header.tmpl" . }}
    <div class="card custom-card mt-2">
        <div class="card-body">
            <div class="d-md-flex d-block align-items-center justify-content-between page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-16 mb-0 font-magnolia">
                    <i class="bx bxs-dashboard"></i> Dashboard
                </h1>
                <div class="ms-md-1 ms-0">
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Close -->

    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
    <!-- End::row-1 -->
    {{ template "layout/footer.tmpl" . }}

    <script>
        
    </script>
    
</body>

</html>
{{end}}