{{define "layout/header.tmpl"}}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ template "layout/meta.tmpl" .Meta }}

    <!-- Favicon -->
    <link rel="icon" href="assets/logo.avif" type="image/avif">

    <!-- Choices JS -->
    <script src="assets/shaka/libs/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Main Theme Js -->
    <script src="assets/shaka/js/main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="assets/shaka/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Style Css -->
    <link href="assets/shaka/css/styles.min.css" rel="stylesheet" >

    <!-- Icons Css -->
    <link href="assets/shaka/css/icons.css" rel="stylesheet" >

    <!-- Node Waves Css -->
    <link href="assets/shaka/libs/node-waves/waves.min.css" rel="stylesheet" >

    <!-- Simplebar Css -->
    <link href="assets/shaka/libs/simplebar/simplebar.min.css" rel="stylesheet" >

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="assets/shaka/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="assets/shaka/libs/@simonwep/pickr/themes/nano.min.css">

    <!-- Choices Css -->
    <link rel="stylesheet" href="assets/shaka/libs/choices.js/public/assets/styles/choices.min.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

    <!-- Sweetalerts CSS -->
    <link rel="stylesheet" href="assets/shaka/libs/sweetalert2/sweetalert2.min.css">

    <style>
        @font-face {
            font-family: 'Magnolia-Script';
            src:url('assets/shaka/icon-fonts/magnolia-script/Magnolia-Script.ttf.woff') format('woff'),
                url('assets/shaka/icon-fonts/magnolia-script/Magnolia-Script.ttf.svg#Magnolia-Script') format('svg'),
                url('assets/shaka/icon-fonts/magnolia-script/Magnolia-Script.ttf.eot'),
                url('assets/shaka/icon-fonts/magnolia-script/Magnolia-Script.ttf.eot?#iefix') format('embedded-opentype');
            font-weight: normal;
            font-style: normal;
        }

        .font-magnolia{
            font-family: 'Magnolia-Script';
        }

        .background-light
        {
            background-image: url("assets/shaka/images/background.avif");
            background-repeat: repeat;
            background-position: center;
        }

        .bx-spin {
            animation: bx-spin 1s linear infinite;
        }

        @keyframes bx-spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .flatpickr-day.flatpickr-saturday {
            background-color: #ffebee !important;
            color: #c62828 !important;
            border-radius: 50%;
        }

        .flatpickr-day.flatpickr-sunday {
            background-color: #ffebee !important;
            color: #c62828 !important;
            border-radius: 50%;
        }
    </style>

</head>

<body class="background-light">

    {{template "layouts/theme-switcher.tmpl" .}}

    <div class="page">
         <!-- app-header -->
         <header class="app-header">

            <!-- Start::main-header-container -->
            <div class="main-header-container container-fluid">

                <!-- Start::header-content-left -->
                <div class="header-content-left">

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <div class="horizontal-logo">
                            <a href="" class="header-logo">
                                <img src="assets/logo.avif" alt="logo" class="desktop-logo">
                                <img src="assets/logo.avif" alt="logo" class="toggle-logo">
                                <img src="assets/shaka/images/brand-logos/logo-horizontal-dark.avif" alt="logo" class="desktop-dark">
                                <img src="assets/logo.avif" alt="logo" class="toggle-dark">
                                <img src="assets/shaka/images/brand-logos/logo-horizontal-light.avif" alt="logo" class="desktop-white">
                                <img src="assets/logo.avif" alt="logo" class="toggle-white">
                            </a>
                        </div>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <!-- Start::header-link -->
                        <a aria-label="Hide Sidebar" class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle" data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
                        <!-- End::header-link -->

                        <button class="my-2 btn btn-primary text-white me-2" style="font-weight: bold">
                            {{ call .h.today }}
                            <i id="clock"></i>
                        </button>
                    </div>
                    <!-- End::header-element -->


                </div>
                <!-- End::header-content-left -->

                <!-- Start::header-content-right -->
                <div class="header-content-right">

                    <!-- Start::header-element -->
                    <div class="header-element header-theme-mode">
                        <!-- Start::header-link|layout-setting -->
                        <a href="javascript:void(0);" class="header-link layout-setting">
                            <span class="light-layout">
                                <!-- Start::header-link-icon -->
                                <i class="bx bx-moon  header-link-icon"></i>
                                <!-- End::header-link-icon -->
                            </span>
                            <span class="dark-layout">
                                <!-- Start::header-link-icon -->
                                <i class="bx bx-sun header-link-icon"></i>
                                <!-- End::header-link-icon -->
                            </span>
                        </a>
                        <!-- End::header-link|layout-setting -->
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element notifications-dropdown">
                        <!-- Start::header-link|dropdown-toggle -->
                        <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
                            <i class="bx bxs-bell header-link-icon"></i>
                            <span class="badge bg-secondary rounded-pill header-icon-badge pulse pulse-secondary" id="notification-icon-badge">5</span>
                        </a>
                        <!-- End::header-link|dropdown-toggle -->
                        <!-- Start::main-header-dropdown -->
                        <div class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                            <div class="p-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="mb-0 fs-17 fw-semibold">Notifications</p>
                                    <span class="badge bg-secondary-transparent" id="notifiation-data">5 Unread</span>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <ul class="list-unstyled mb-0" id="header-notification-scroll">
                                <li class="dropdown-item">
                                    <div class="d-flex align-items-start">
                                         <div class="pe-2">
                                             <span class="avatar avatar-md bg-primary"><i class="ti ti-folder fs-20 text-fixed-white"></i></span>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-0 fw-semibold"><a href="notifications.html">Your Order Has Been Shipped</a></p>
                                                <span class="text-muted fw-normal fs-12 header-notification-text">2 hours ago</span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                    </div>
                                </li>
                                <li class="dropdown-item">
                                    <div class="d-flex align-items-start">
                                         <div class="pe-2">
                                             <span class="avatar avatar-md bg-success"><i class="ti ti-truck-delivery fs-20 text-fixed-white"></i></span>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-0 fw-semibold"><a href="notifications.html">New Order Received</a></p>
                                                <span class="text-muted fw-normal fs-12 header-notification-text">2 hours ago</span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                    </div>
                                </li>
                                <li class="dropdown-item">
                                    <div class="d-flex align-items-start">
                                         <div class="pe-2">
                                             <span class="avatar avatar-md bg-danger"><i class="ti ti-brand-dribbble fs-20 text-fixed-white"></i></span>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-0 fw-semibold"><a href="notifications.html">Project has been approved</a></p>
                                                <span class="text-muted fw-normal fs-12 header-notification-text">1 day ago</span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                    </div>
                                </li>
                                <li class="dropdown-item">
                                    <div class="d-flex align-items-start">
                                         <div class="pe-2">
                                             <span class="avatar avatar-md bg-info"><i class="ti ti-user-check fs-20 text-fixed-white"></i></span>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-0 fw-semibold"><a href="notifications.html">Account Has Been Verified</a></p>
                                                <span class="text-muted fw-normal fs-12 header-notification-text">5 hours ago</span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                    </div>
                                </li>
                                <li class="dropdown-item">
                                    <div class="d-flex align-items-start">
                                         <div class="pe-2">
                                             <span class="avatar avatar-md bg-secondary"><i class="ti ti-edit fs-20 text-fixed-white"></i></span>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-0 fw-semibold"><a href="notifications.html">Updates Available</a></p>
                                                <span class="text-muted fw-normal fs-12 header-notification-text">10 hours ago</span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="p-3 empty-header-item1 border-top">
                                <div class="d-grid">
                                    <a href="notifications.html" class="btn btn-primary">View All</a>
                                </div>
                            </div>
                            <div class="p-5 empty-item1 d-none">
                                <div class="text-center">
                                    <span class="avatar avatar-xl avatar-rounded bg-secondary-transparent">
                                        <i class="ri-notification-off-line fs-2"></i>
                                    </span>
                                    <h6 class="fw-semibold mt-3">No New Notifications</h6>
                                </div>
                            </div>
                        </div>
                        <!-- End::main-header-dropdown -->
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element header-fullscreen">
                        <!-- Start::header-link -->
                        <a onclick="openFullscreen();" href="#" class="header-link">
                            <i class="bx bx-fullscreen full-screen-open header-link-icon"></i>
                            <i class="bx bx-exit-fullscreen full-screen-close header-link-icon d-none"></i>
                        </a>
                        <!-- End::header-link -->
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <!-- Start::header-link|dropdown-toggle -->
                        <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="me-2 d-none d-md-block">{{.auth_user.name}}</span>
                                <div class="me-sm-2 me-0">
                                    <img src="assets/logo.avif" alt="img" width="32" height="32" class="rounded-circle">
                                </div>
                            </div>
                        </a>
                        <!-- End::header-link|dropdown-toggle -->
                        <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                            <li><a class="dropdown-item d-flex" href="profile.html"><i class="ti ti-user-circle fs-18 me-2 op-7"></i>Profile</a></li>
                            <li><a class="dropdown-item d-flex" href="mail.html"><i class="ti ti-inbox fs-18 me-2 op-7"></i>Inbox <span class="badge bg-warning-transparent ms-auto">37</span></a></li>
                            <li><a class="dropdown-item d-flex border-block-end" href="to-do-list.html"><i class="ti ti-clipboard-check fs-18 me-2 op-7"></i>Task Manager</a></li>
                            <li><a class="dropdown-item d-flex" href="settings.html"><i class="ti ti-adjustments-horizontal fs-18 me-2 op-7"></i>Settings</a></li>
                            <li><a class="dropdown-item d-flex" href="chat.html"><i class="ti ti-headset fs-18 me-2 op-7"></i>Support</a></li>
                            <li><a class="dropdown-item d-flex" href="/logout"><i class="ti ti-logout fs-18 me-2 op-7"></i>Log Out</a></li>
                        </ul>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <!-- Start::header-link|switcher-icon -->
                        <a href="#" class="header-link switcher-icon" data-bs-toggle="offcanvas" data-bs-target="#switcher-canvas">
                            <i class="bx bx-cog header-link-icon"></i>
                        </a>
                        <!-- End::header-link|switcher-icon -->
                    </div>
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-right -->

            </div>
            <!-- End::main-header-container -->

        </header>
        <!-- /app-header -->
        <!-- Start::app-sidebar -->
        <aside class="app-sidebar sticky" id="sidebar">

            <!-- Start::main-sidebar-header -->
            <div class="main-sidebar-header">
                <a href="/dashboard" class="header-logo">
                    <img src="assets/shaka/images/brand-logos/logo-horizontal-dark.avif" alt="logo" class="desktop-logo">
                    <img src="assets/logo.avif" alt="logo" class="toggle-logo">
                    <img src="assets/shaka/images/brand-logos/logo-horizontal-light.avif" alt="logo" class="desktop-dark">
                    <img src="assets/logo.avif" alt="logo" class="toggle-dark">
                    <img src="assets/shaka/images/brand-logos/logo-horizontal-dark.avif" alt="logo" class="desktop-white">
                    <img src="assets/logo.avif" alt="logo" class="toggle-white">
                </a>
            </div>
            <!-- End::main-sidebar-header -->

            <!-- Start::main-sidebar -->
            <div class="main-sidebar" id="sidebar-scroll">

                <!-- Start::nav -->
                <nav class="main-menu-container nav nav-pills flex-column sub-open">
                    <div class="slide-left" id="slide-left">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
                    </div>
                    <ul class="main-menu">
                        <!-- Start::slide__category -->
                        <li class="slide__category"><span class="category-name">Main</span></li>
                        <!-- End::slide__category -->

                        <!-- Start::slide -->
                        <li class="slide">
                            <a href="/dashboard" class="side-menu__item {{ call .h.isActive "/dashboard" }}">
                                <i class="bx bxs-dashboard side-menu__icon"></i>
                                <span class="side-menu__label">Dashboard</span>
                            </a>
                        </li>
                        <!-- End::slide -->

                        <!-- Start::slide__category -->
                        <li class="slide__category"><span class="category-name">General</span></li>
                        <!-- End::slide__category -->


                        <!-- Start::slide -->
                        <li class="slide">
                            <a href="/user" class="side-menu__item {{ call .h.isActive "/user" }}">
                                <i class="bx bxs-user-account side-menu__icon"></i>
                                <span class="side-menu__label">Manajemen User</span>
                            </a>
                        </li>
                        <!-- End::slide -->

                        <!-- Start::slide -->
                        <li class="slide">
                            <a href="/post" class="side-menu__item {{ call .h.isActive "/post" }}">
                                <i class="bx bx-images side-menu__icon"></i>
                                <span class="side-menu__label">Post Image-Multi Image</span>
                            </a>
                        </li>
                        <!-- End::slide -->

                        <!-- Start::slide -->
                        <li class="slide">
                            <a href="/file-encrypt" class="side-menu__item {{ call .h.isActive "/file-encrypt" }}">
                                <i class="bx bx-file side-menu__icon"></i>
                                <span class="side-menu__label">Upload Encrypt File</span>
                            </a>
                        </li>
                        <!-- End::slide -->

                        <li class="slide has-sub">
                            <a href="javascript:void(0);" class="side-menu__item">
                                <i class="bx bx-list-ul side-menu__icon"></i>
                                <span class="side-menu__label">Multimenu</span>
                                <i class="bx bx-chevrons-right side-menu__angle"></i>
                            </a>
                            <ul class="slide-menu child1">
                                <li class="slide side-menu__label1">
                                    <a href="javascript:void(0)">Multimenu</a>
                                </li>
                                <li class="slide">
                                    <a href="google-maps.html" class="side-menu__item">Menu 1</a>
                                </li>
                                <li class="slide">
                                    <a href="google-maps.html" class="side-menu__item">Menu 2</a>
                                </li>
                            </ul>
                        </li>
                        <!-- End::slide -->

                        <!-- Start::slide -->
                        <li class="slide">
                            <a target="_blank" href="http://template.test/admin/nixlotadmin-30/HTML/dist/html/" class="side-menu__item">
                                <i class="bx bxs-palette side-menu__icon"></i>
                                <span class="side-menu__label">Template</span>
                            </a>
                        </li>
                        <!-- End::slide -->

                        <!-- Start::slide -->
                        <li class="slide">
                            <a href="/logout" class="side-menu__item">
                                <i class="bx bx-log-out text-danger side-menu__icon"></i>
                                <span class="side-menu__label">Log Out</span>
                            </a>
                        </li>
                        <!-- End::slide -->
                    </ul>
                    <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                </nav>
                <!-- End::nav -->

            </div>
            <!-- End::main-sidebar -->

        </aside>
        <!-- End::app-sidebar -->

        <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
            <div id="notification-toast" class="toast colored-toast bg-primary-transparent" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-primary text-fixed-white">
                    <strong class="me-auto" id="titleToast"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="bodyToast">

                </div>
            </div>
        </div>

        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid px-0">

{{end}}