{{define "layout/meta.tmpl"}}
<title>{{ .Title }}</title>
<meta name="description" content="{{ .Description }}">
<meta name="keywords" content="{{ .Keywords }}">

<!-- Open Graph -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="{{ .Image }}">
<meta property="og:url" content="{{ .URL }}">
<meta property="og:type" content="website">

<!-- Twitter Card -->
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
<meta name="twitter:image" content="{{ .Image }}">
<meta name="twitter:card" content="summary_large_image">
{{end}}