{{define "carousel/index.tmpl"}}
    {{ template "layout/header.tmpl" . }}
    {{ $route := call .h.route "carousel" }} 
    <!-- Page Header -->
    <div class="card custom-card mt-2">
        <div class="card-body">
            <div class="d-md-flex d-block align-items-center justify-content-between page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-16 mb-0 font-magnolia">
                    <i class="bx bx-images"></i> Data Carousel
                </h1>
                <div class="ms-md-1 ms-0">
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Carousel</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Close -->

    <div class="modal fade" id="modalUbah">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title font-magnolia"><i class='bx bxs-edit'></i> Ubah Data</h6>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-start">
                    <form id="formUpdate" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_token" value="{{.csrf_token}}">
                        <input type="hidden" name="id" id="id_carousel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mt-2">
                                    <label for="keterangan" class="form-label">Keterangan</label>
                                    <input class="form-control" type="text" id="keterangan" name="keterangan">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mt-2">
                                    <label for="link" class="form-label">Link</label>
                                    <input class="form-control" type="text" id="link" name="link">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mt-2">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-control select2-ubah" name="status" id="status">
                                        <option value="" selected disabled>Pilih</option>
                                        <option value="Ditampilkan">Ditampilkan</option>
                                        <option value="Disembunyikan">Disembunyikan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mt-2">
                                    <label for="gambar" class="form-label">Gambar</label>
                                    <input class="form-control" type="file" id="gambar" name="gambar">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnUpdate" class="btn btn-primary"><i class='bx bx-recycle'></i> Perbarui</button>
                </div>
                    </form>
            </div>
        </div>
    </div>

    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-md-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title font-magnolia">
                        <i class='bx bxs-plus-square'></i> Form Tambah Data Carousel
                    </div>
                </div>
                <div class="card-body pt-0">
                    <form id="formSimpan" method="post" autocomplete="off" enctype="multipart/form-data">
                        <input type="hidden" name="_token" value="{{.csrf_token}}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mt-2">
                                    <label for="keterangan" class="form-label">Keterangan</label>
                                    <input class="form-control" type="text" name="keterangan" placeholder="Keterangan">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-2">
                                    <label for="link" class="form-label">Link</label>
                                    <input class="form-control" type="text" name="link" placeholder="Link">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-2">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-control select2-tambah" name="status" id="fstatus">
                                        <option value="" selected disabled>Pilih</option>
                                        <option value="Ditampilkan">Ditampilkan</option>
                                        <option value="Disembunyikan">Disembunyikan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mt-2">
                                    <label for="gambar" class="form-label">Gambar</label>
                                    <input class="form-control" type="file" name="gambar" accept="image/*">
                                    <small class="text-danger">*Ukuran Wajib 1920x900</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mt-2">
                                    <label class="form-label text-white d-none d-md-block">..</label>
                                    <div class="d-grid gap-2">
                                        <button id="btnSimpan" type="submit" class="btn btn-success waves-effect waves-light"><i class='bx bx-save'></i> Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title font-magnolia">
                        <i class="bx bx-images"></i> Data Carousel
                    </div>
                </div>
                <div class="card-body">
                    <table id="tableData" class="table table-bordered text-nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Keterangan</th>
                                <th>Link</th>
                                <th>Status</th>
                                <th>Gambar</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-1 -->
    {{ template "layout/footer.tmpl" . }}

    <script>
        var table;
        $(function(){
            table = $('#tableData').DataTable({
                processing: true,
                pageLength: 7,
                ordering: false,
                responsive: true,
                lengthMenu: [[7, 10, 25, 50, -1], [7, 10, 25, 50, "All"]],
                drawCallback: function( settings ) {
                    $("[data-toggle=tooltip").tooltip();
                },
                order: [],
                serverSide: true,
                ajax: {
                    url: '{{$route}}'
                },
                columns: [
                    { data: 'DT_RowIndex', name: 'DT_RowIndex', searchable: false },
                    {
                        data: 'keterangan',
                        name: 'keterangan'
                    },
                    {
                        data: 'link',
                        name: 'link'
                    },
                    {
                        data: 'status',
                        name: 'status'
                    },
                    {
                        data: 'gambar',
                        name: 'gambar'
                    },
                    {
                        data: 'action',
                        name: 'action'
                    }
                ]
            });

        });

        $('#btnSimpan').click(function(e){
            e.preventDefault();
            loadingSimpan(true);

            var data = new FormData(document.getElementById("formSimpan"));
            axios.post('{{$route}}',data)
            .then(function (response) {
                var data = response.data;
                loadingSimpan(false);

                if (data.status) {
                    notify('success','Berhasil!',data.message);
                    $('#formSimpan').trigger('reset');
                    $('#fstatus').val(null).trigger('change');
                    $('input').blur();
                    table.draw();
                }else{
                    Swal.fire(
                        {
                            title: "Peringatan",
                            html: data.message,
                            icon: 'warning',
                            confirmButtonColor: '#5156be'
                        }
                    )
                }
            })
            .catch(function (error) {
                loadingSimpan(false);
                notify('danger','Gagal!',error);
            });

        });

        $('#btnUpdate').click(function(e){
            e.preventDefault();
            loadingUpdate(true);

            var data = new FormData(document.getElementById("formUpdate"));
            axios.put('{{$route}}/'+$('#id_carousel').val(),data)
            .then(function (response) {
                var data = response.data;
                loadingUpdate(false);

                if (data.status) {
                    notify('info','Berhasil!', data.message);
                    $('#modalUbah').modal('toggle');
                    $('#formUpdate').trigger('reset');
                    $('input').blur();
                    table.draw();
                }else{
                    Swal.fire(
                        {
                            title: "Peringatan",
                            html: data.message,
                            icon: 'warning',
                            confirmButtonColor: '#5156be'
                        }
                    )
                }
            })
            .catch(function (error) {
                loadingUpdate(false);
                notify('danger','Gagal!',error);
            });

        });

        function hapus(id){
            Swal.fire({
                title: "Apakah anda yakin ?",
                text: "Data yang sudah dihapus tidak dapat dikembalikan!",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#2ab57d",
                cancelButtonColor: "#fd625e",
                confirmButtonText: "Ya, saya yakin!"
            }).then(function (result) {
                if (result.value) {
                    // masukkan proses delete disini
                    axios.delete(`{{$route}}/${id}`,{
                        headers: {
                            'X-CSRF-TOKEN': '{{.csrf_token}}'
                        }
                    })
                    .then(function (response) {
                        var data = response.data;

                        if (data.status) {
                            Swal.fire("Terhapus!", "Data anda berhasil dihapus!.", "success");
                            table.draw();
                        }else{
                            Swal.fire(
                                {
                                    title: "Peringatan",
                                    html: data.message,
                                    icon: 'warning',
                                    confirmButtonColor: '#5156be'
                                }
                            )
                        }
                    })
                    .catch(function (error) {
                        notify('danger','Gagal!',error);
                    });
                }
            });
        }

        function ubah(id){
            axios.get(`{{$route}}/${id}`)
            .then(function (response) {
                var data = response.data;
                var res = data.data;
                console.log(res);
                $('#id_carousel').val(res.id);
                $('#keterangan').val(res.Keterangan);
                $('#link').val(res.Link);
                $('#status').val(res.Status).trigger('change');
                $('#modalUbah').modal('toggle');
            })
            .catch(function (error) {
                notify('danger','Gagal!',error);
            });

        }


   </script>
    
</body>

</html>
{{end}}